@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

*{
   margin: 15px;
   box-sizing: border-box;
}

body{
    background-color: #200a64;
}

h1{
    font-family: 'Nova Mono', monospace;
    color: aliceblue;
}
h2{
    background-color: #ffffff;
    text-align: center;
}

a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: right;
    color: aliceblue;
}

legend, label{
    color: black;
    background-color: #b9b9b9;
    border-radius: 6px;
}

.container{
    display:flex;
    border-radius: 15px;
    font-size: 16px;
}
.container > div{
    flex: 0 0 auto;
}
.container > p{
    background-color: #b9b9b9;
    padding: 30px;
    margin: 0 25%;
    flex: 0 auto;
    text-align: center;
    opacity: 0.7;
}
.container > fieldset{
    background-color: #b9b9b9;
    padding: 0%;
    flex: 0 auto;
    opacity: 0.7;  
}

.field input[type=text], .field input[type=number], select{
    border: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
}